<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAxHSuydvJK7mRuZlVKUeIIRZOukSVQUVw</string>
	<key>GCM_SENDER_ID</key>
	<string>189210396929</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.learnflutterapp</string>
	<key>PROJECT_ID</key>
	<string>expensemanagement2023-6d5cf</string>
	<key>STORAGE_BUCKET</key>
	<string>expensemanagement2023-6d5cf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:189210396929:ios:8476a90818888e29f87300</string>
</dict>
</plist>