<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCL5q_zHhMojD08OGQf61TDnOkn56Lk-dk</string>
	<key>GCM_SENDER_ID</key>
	<string>1001821187803</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.learnflutterapp</string>
	<key>PROJECT_ID</key>
	<string>expensemanagerbloc</string>
	<key>STORAGE_BUCKET</key>
	<string>expensemanagerbloc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1001821187803:ios:5d7bf587a25c61a43326fe</string>
</dict>
</plist>